.section1{
    margin:80px auto;
    width:90%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    

}
.programs img{
    width:100%;
    border-radius:10px;
    display:block;
}
.programs{
    flex-basis: 31%;
    position:relative;
}
.caption{
    border-radius:10px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,15,152,0.3);
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    flex-direction: column;
    cursor: pointer;
    opacity:0;
    padding-top:70%;
    transition: 0.4s;


}
.caption img{
    width:60px;
    margin-bottom:10px;
}
.programs:hover .caption{
    opacity:1;
    padding-top: 0;

}