.about{
    margin:100px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.left-about{
    flex-basis:40%;
    position: relative;
}
.right-about{
    flex-basis:56%;
}
.leftabout{
    width: 100%;
    border-radius:10px;
    height:500px;
}
.rightabout{
    width:100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.about h3{
    font-size:16px;
    font-weight:600;
    color:#212EA0;

}
.about h2{
    font-size:35px;
    color:#000F38;
    margin:10px 0;
    max-width:400px;

}
.about p{
    margin-bottom:15px;
    color:#676767;
}