.campus{
    margin:80px auto;
    text-align: center;
    width:90%;
}
.gallery-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:80px;

}
.gallery-img img{
    width:23%;
    border-radius:10px;

}
.dark-btn{
    background-color: #212EA0;
    color:#fff;
    font-size: 16px;
    border-radius: 30px;
    padding:14px 20px;
    outline: 0;
    border:0;

}
